header {
    color:darkorchid;
}
ul {
    color:red;
}
ol {
    color:blue;
}
summary,p,footer {
    color:darkgray;
}
div li {
    font-size:medium;  
}
details > summary {
    color:red!important;
}
p.pseudo:hover {
    color:red;
}
div.media {
    border: 5px outset pink;
    text-align: center;
}
div.nested {
    border: 5px outset blue
}
footer.index:hover {
    color:red;
}
footer {
    position: absolute;
    left: 50px;
    bottom: 0px;
}
div#box {
    margin:20px;
    padding:10px;
    border:3px dashed blue;
    width:500px 300px;
    background-color: aqua;
}
header#media {
    position:sticky;
    top: 0;
    padding: 3px;
    background-color: lightblue;
}
#anim {
    animation-name: marquee;
    animation-duration: 5s;
    position: relative;
    background-color: red;
}
@keyframes marquee {
    0% {left:0px;}
    50% {left:400px;}
    100% {left:0px;}
}

