header {
    color:darkorchid;
}
ul {
    color:red;
}
ol {
    color:blue;
}
summary,p,footer {
    color:darkgray;
}
div li {
    font-size:medium;  
}
details > summary {
    color:red!important;
}
p.pseudo:hover {
    color:red;
}
div.media {
    border: 5px outset pink;
    text-align: center;
}
div.nested {
    border: 5px outset blue
}
footer.index:hover {
    color:red
}
body.box {
    background-color: aqua;
    margin:20px;
    padding:10px;
    border:3px dashed blue;
    width:500px;
}